/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .25;
  max-height:100%;
  z-index:-1;
  bottom:20px;
}


.read-more-state:checked ~ .read-more-wrap.words{
    bottom: 0px;
    /* position: absolute; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 100;
    overflow: hidden;
}
.read-more-state{
  display:none;
}
.read-more-state ~ .read-more-trigger:before {
  content: '... Read more';
}

.image-link:hover img{
  box-shadow: 10px 10px rgba(0,0,0,1);
}

.nav{
  text-align:center;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav .item{
  padding-left:20px;
  padding-right:20px;

}
.nav .brand{
  font-weight:bold;
}

@media only screen and (min-width : 768px){
  .hero{
    height:95vh;
    position: relative;
    text-align: center;
  }
}


.gallery-image img{
  width:100%;
  box-shadow: 10px 10px rgba(0,0,0,.05);
}

.read-more-state :checked ~ .read-more-trigger:before {
  content: 'Show less';
}
.gallery{

  top: 50vh;
  position: relative;
  transform: translate(0, -50%);
}


.story{
  text-align:center;
}
.white{
  background-color:white;
}


.logo{
  max-width:180px;
  width: 100%;
  padding:20px;
  background-color: white;
}

@media only screen and (max-width : 768px){
   .logo{
  padding-top:40px;
  padding-bottom:40px;
  max-width:250px;
}
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  line-height: 2;

}


.white{
  background-color:white;
}

.desc{
  margin-top:30px;
}
.desc .words{
    bottom: 0px;
    /* position: absolute; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.purchase{
background: repeating-linear-gradient(
  45deg,
  /* #f1c2d4, */
  #9bd6f2,
  #9bd6f2 30px,
  #eeb5c5 30px,
  #eeb5c5 60px
);

  padding-top:10px;
  padding-bottom:10px;
}
.sharky{
  max-width:100%;
}
.purchase .inner{
  background-color:white;
  margin:20px;
}


.purchase a{
  color:blue;
  text-decoration:underline;
}


/* page content */

section{
margin-top:20px;
margin-bottom:100px;
border-bottom:1px solid lightgray;
padding-bottom:20px;
}

.container{
  max-width:400px;
  margin-top:100px;
}

p{
  margin-bottom:1.25em;
}

.body{
line-height:2em;
}



/* text styling */

span.name {
  font-weight: bold;
}
